<?xml version="1.0"?>
<?xml-stylesheet type="text/css" href="4.css"?>
<CATALOG>
<STUDENT>
 <NAME>Anurag</NAME>
 <SRN>R14CS001</SRN>
 <BRANCH>CSE</BRANCH>
 <SEMESTER>3</SEMESTER>
 <UNIVERSITY>REVA UNIVERSITY</UNIVERSITY>
 <COUNTRY >India</COUNTRY>
</STUDENT>
<STUDENT>
 <NAME>Bibek</NAME>
 <SRN>R17CS078</SRN>
 <BRANCH>CSE</BRANCH>
 <SEMESTER>7</SEMESTER>
 <UNIVERSITY> REVA UNIVERSITY</UNIVERSITY>
 <COUNTRY> India </COUNTRY>
</STUDENT>
<STUDENT>
 <NAME>William</NAME>
 <SRN>R14CS099</SRN>
 <BRANCH>CSE</BRANCH>
 <SEMESTER>7</SEMESTER>
 <UNIVERSITY> REVA UNIVERSITY</UNIVERSITY>
 <COUNTRY> India </COUNTRY>
</STUDENT>
</CATALOG>
